body, input, textarea {
    font-family:'Open Sans', sans-serif;
}

#container {
    width:800px;
    margin:0 auto;
}

#main-nav {
    width:100%;
    background-color:#f1f1f1;
}

#main-nav ul {
    margin:0;
    list-style:none;
    padding:4px 10px;
}
#main-nav li {
    display:inline-block;
    padding:0 10px;
}

#chat-box {
    width:100%;
    height:120px;
}

#messages {
    list-style:none;
}

#messages li:nth-child(odd) {
    background-color:#f1f1f1;
}

#messages li:nth-child(even) {
    background-color:#fff;
}

input[type="submit"] {
    width:100%;
    background-color:#487999;
    color:#fff;
    border:none;
    height:32px;
    font-weight:200;
    font-size:16px;
    border-radius:3px;
}